/*! main.scss v1.0 | GNU  | RIEHL EMMANUEL */

/**
 * Graphic & Iconographic Charter Meet&Greet Africa
 * 
 */
 //Main Banners Color
$mg_color_1: #273b54;
$mg_color_2: #59d2ef;
//Main Footer foundation
$mg_color_3: #143f6c;
$mg_color_4: #ffcc00;
//Writing Police Color
$mg_color_5: #151515;
//Header Foundation
$mg_color_6: #122844;
$mg_color_7: #F5F5F5;
//Ads Banner Foundation
$mg_color_8: #E6EBF0;
// more...
$mg_color_9: #ff003c;

//lists for typo
$typo_orientations: left top right bottom; 
$typo_types: margin padding;
$typo_proportions : width height line-height;
$percent: "%";

